@page
@model ChangePasswordModel
@using PhotographyAddicted.Services.DataServices.ImageService
@using PhotographyAddicted.Services.DataServices.CommonService
@using PhotographyAddicted.Services.DataServices

@inject INewService  newService
@inject ICommonService commonService
@inject IImageService imageService

@{
    ViewData["Title"] = "Change password";
}

<div class="row">
    <div class="col-md-5 offset-md-2">
        <div class="jumbotron " style="min-height: 930px; padding-top:15px; background-color:azure">
            <br>
            <div class="alert alert-info" role="alert">
                <br>
                <h3>Update password</h3>
                <hr class="my-4">

                @Html.Partial("_StatusMessage", Model.StatusMessage)
                <div class="row">
                    <div class="col-md-12 ">
                        <form id="change-password-form" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="input-group input-group-sm  mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text  aquaLabel" id="basic-addon1"><i style="padding-left:1.75px; padding-right:1.75px; " class="fas fa-unlock-alt"></i></span>
                                </div>
                                <input asp-for="Input.OldPassword" class="form-control" placeholder="Old password.." aria-describedby="basic-addon1" style="border-top-right-radius: 3px; border-bottom-right-radius: 3px;" data-toggle="tooltip" data-placement="bottom" title="Old password" />
                            </div>
                            <div class="input-group input-group-sm  mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text  aquaLabel" id="basic-addon1"><i style="padding-left:1px; padding-right:1px; " class="fas fa-key"></i></span>
                                </div>
                                <input asp-for="Input.NewPassword" class="form-control" placeholder="New password.." aria-describedby="basic-addon1" style="border-top-right-radius: 3px; border-bottom-right-radius: 3px;" data-toggle="tooltip" data-placement="bottom" title="New password" />
                            </div>
                            <div class="input-group input-group-sm  mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text  aquaLabel" id="basic-addon1"><i style="padding-left:1px; padding-right:1px; " class="fas fa-key"></i></span>
                                </div>
                                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm new password.." aria-describedby="basic-addon1" style="border-top-right-radius: 3px; border-bottom-right-radius: 3px;" data-toggle="tooltip" data-placement="bottom" title="Confirm new password" />
                            </div>
                            <button class="btn btn-info btn-sm" type="submit" style="margin-right:15px;  margin-top:8px; padding: 4px 8px; " data-toggle="tooltip" data-placement="bottom" title="Update password">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a>
        <partial name="PreviewNewsPartial" />
    </a>
</div>

