@page
@model ForgotPasswordConfirmation

@using PhotographyAddicted.Services.DataServices.ImageService
@using PhotographyAddicted.Services.DataServices.CommonService
@using Microsoft.AspNetCore.Http
@using System.Security.Claims

@inject IImageService imageService
@inject ICommonService commonService

@{
    ViewData["Title"] = "Forgot password confirmation";
}



<div class="row">
    <div class="col-md-5 offset-md-2">
        <div class="jumbotron " style="min-height: 930px; padding-top:15px; background-color:azure">
            <br>
            <div class="alert alert-info" role="alert">
                <div class="row">
                    <div class="col-md-12 " style="margin-top:1px;">
                        <a style="font-size:170%;">@ViewData["Title"]</a>
                    </div>
                </div>
                <hr class="my-4">
                <p>
                    Please check your email to reset your password.
                </p>
            </div>
        </div>
    </div>
    <a>
        <partial name="PreviewNewsPartial" />
    </a>
</div>

