@page
@model ForgotPasswordModel

@using PhotographyAddicted.Services.DataServices.ImageService
@using PhotographyAddicted.Services.DataServices.CommonService
@using Microsoft.AspNetCore.Http
@using System.Security.Claims

@inject IImageService imageService
@inject ICommonService commonService

@{
    ViewData["Title"] = "Forgot your password?";
}

@*<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>*@

<div class="row">
    <div class="col-md-5 offset-md-2">
        <div class="jumbotron " style="min-height: 930px; padding-top:15px; background-color:azure">
            <br>
            <div class="alert alert-info" role="alert">
                <div class="row">
                    <div class="col-md-12 " style="margin-top:1px;">
                        <a style="font-size:170%;">@ViewData["Title"]</a>
                    </div>
                </div>
                <hr class="my-4">
                <h5>Enter your email.</h5>
                <div class="row">
                    <div class="col-md-12 ">
                        <form method="POST">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="input-group input-group-sm  mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text  aquaLabel" id="basic-addon1"><i class="fas fa-at"></i></span>
                                </div>
                                <input asp-for="Input.Email" type="text" placeholder="Email.." class="form-control" aria-describedby="basic-addon1" style="border-top-right-radius: 3px; border-bottom-right-radius: 3px;" data-toggle="tooltip" data-placement="bottom" title="Email" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div style="margin-top:4px;">
                                <button class="btn btn-info btn-sm" type="submit" style="margin-right:15px;  margin-top:8px; padding: 4px 8px; " data-toggle="tooltip" data-placement="bottom" title="Confirm your email">Submit</button>
                                <a class="btn btn-info btn-sm" asp-controller="Home" asp-action="Index" style=" margin-top:8px; padding:4px 9.875px;" data-toggle="tooltip" data-placement="bottom" title="Go to homepage">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a>
        <partial name="PreviewNewsPartial" />
    </a>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
