@model PhotographyAddicted.Services.Models.Images.AddImageViewModel
@using PhotographyAddicted.Services.DataServices
@using PhotographyAddicted.Data.Models
@using PhotographyAddicted.Services.DataServices.ImageService
@using PhotographyAddicted.Services.DataServices.CommonService
@using Microsoft.AspNetCore.Http
@using System.Security.Claims

@inject ICommonService commonService
@inject IImageService imageService
@inject INewService  newService

@{
    ViewData["Title"] = "AddImage";
}

<div class="row">
    <div class="col-md-5 offset-md-2">
        <div class="jumbotron " style="min-height: 930px; padding-top:15px; background-color:azure">
            <br>
            <div class="alert alert-info" role="alert">
                <br>
                <h3>Add image</h3>
                <hr class="my-4">
                <div class="row">
                    <div class="col-md-12 ">
                        <form asp-action="AddImage" method="POST" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="input-group input-group-sm  mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text  aquaLabel" id="basic-addon1"><i class="far fa-clipboard"></i></span>
                                </div>
                                <input asp-for="Title" type="text" class="form-control" placeholder="Title.." aria-describedby="basic-addon1" style="border-top-right-radius: 3px; border-bottom-right-radius: 3px;" data-toggle="tooltip" data-placement="bottom" title="Title" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="input-group input-group-sm  mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text  aquaLabel" id="basic-addon1"><i class="far fa-file-alt"></i></span>
                                </div>
                                <input asp-for="Description" type="text" placeholder="Write here image description.." class="form-control" aria-describedby="basic-addon1" style="border-top-right-radius: 3px; border-bottom-right-radius: 3px;" data-toggle="tooltip" data-placement="bottom" title="Description" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="input-group input-group-sm  mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text  aquaLabel" id="basic-addon1"><i class="fas fa-camera-retro"></i></span>
                                </div>
                                <input asp-for="Equipment" type="text" placeholder="Write here equipment.." class="form-control" aria-describedby="basic-addon1" style="border-top-right-radius: 3px; border-bottom-right-radius: 3px;" data-toggle="tooltip" data-placement="bottom" title="Equipment" />
                                <span asp-validation-for="Equipment" class="text-danger"></span>
                            </div>
                            <div class="input-group input-group-sm  mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text  aquaLabel" id="basic-addon1">    <i class="fas fa-cogs"></i></span>
                                </div>
                                <input asp-for="Settings" type="text" placeholder="Write here settings.." class="form-control" aria-describedby="basic-addon1" style="border-top-right-radius: 3px; border-bottom-right-radius: 3px;" data-toggle="tooltip" data-placement="bottom" title="Settings" />
                                <span asp-validation-for="Settings" class="text-danger"></span>
                            </div>
                            <div hidden class="form-group">
                                <label asp-for="PhotographyAddictedUserId" class="control-label"></label>
                                <input asp-for="PhotographyAddictedUserId" class="form-control" />
                                <span asp-validation-for="PhotographyAddictedUserId" class="text-danger"></span>
                            </div>
                            <div class="input-group input-group-sm  mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01" style="padding-right:9.75px; background-color:#17a2b8; color:white;"><i class="fas fa-tasks"></i></label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01" style="border-top-right-radius: 3px; border-bottom-right-radius: 3px;" data-toggle="tooltip" data-placement="bottom" title="Category" asp-for="ImageCategory" asp-items="Html.GetEnumSelectList<ImageCategory>()">
                                    <option selected="">Select Category..</option>
                                </select>
                                <span asp-validation-for="ImageCategory" class="text-danger"></span>
                            </div>
                            <div class="custom-file ">
                                <label style="margin-bottom:0px;" data-toggle="tooltip" data-placement="bottom" title="Upload image">
                                    Upload  <i class="far fa-images"></i>
                                    <input class="custom-file-input" type="file" id="File" asp-for="Picture">
                                </label>
                                <a style="font-size:x-small; font-weight: bold; margin-top:0px;">Image should be less than 256kb.</a>
                            </div>
                            <div style="margin-top:4px;">
                                <button class="btn btn-info btn-sm" type="submit" style="margin-right:15px;  margin-top:8px; padding: 4px 8px; " data-toggle="tooltip" data-placement="bottom" title="Save image">Publish</button>
                                <a class="btn btn-info btn-sm" asp-controller="Users" asp-action="PreviewUser" asp-route-id="@this.User.FindFirstValue(ClaimTypes.NameIdentifier)" style=" margin-top:8px; padding:4px 9.875px;" data-toggle="tooltip" data-placement="bottom" title="Go to profile">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a>
        <partial name="PreviewNewsPartial" />
    </a>
</div>
<style>
    label {
        padding: 4px 8px;
        background-color: #17a2b8;
        display: table;
        color: white;
        border-radius: 3px;
    }

    input[type="file"] {
        display: none;
    }

    label:hover {
        background-color: #138496;
    }
</style>