@model PhotographyAddicted.Services.Models.Images.PreviewImagesViewModel
@using PhotographyAddicted.Data.Models
@using Microsoft.AspNetCore.Http
@using System.Security.Claims

@{
    ViewData["Title"] = "PreviewImages";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="jumbotron " style="min-height: 930px; padding-top:15px; background-color:azure">
            <br>
            <div>
                @if (Model.PreviewImages.Count() != 0)
                {
                    @if (Model.PreviewImages.FirstOrDefault().ImageCategory != 0)
                    {
                        <div class="row">
                            <div class="col-md-7">
                                <partial name="PreviewImagesSearchPartial" />
                            </div>
                            <div class="col-md-5">
                                <h4 class="headText-style">
                                    Images
                                </h4>
                            </div>
                        </div>
                    }
                    <hr class="my-4">
                    <div class="row">
                            @foreach (var item in Model.PreviewImages)
                            {
                                <div class="col-md-3">
                                    <div class="imageBoxMain">
                                        <div class="row">
                                            <div class="col-md-10 offset-md-1 d-inline-block text-truncate" style="font-size:75%; text-align:center; padding: 0.5px 3px; padding-top:2px;">
                                                @item.Title
                                            </div>
                                        </div>
                                        <a asp-controller="Images" asp-action="PreviewImage" asp-route-id="@item.Id " data-toggle="tooltip" data-placement="bottom" title="See the photo!">
                                            <img src="data:image;base64,@System.Convert.ToBase64String(item.Picture)" class="imageCategoryMain" />
                                        </a>
                                    </div>
                                    <a style="padding-left:6px;"></a>
                                </div>
                            }
                    </div>
                }
                else
                {
                    <partial name="PreviewImagesSearchPartial" />
                    <hr class="my-4">
                    <div>
                        <div class="alert alert-info" role="alert">
                            There is no image <a style="color:red">"@Model.Input"</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


