@model PhotographyAddicted.Services.Models.PhotoStorys.PreviewPhotoStoryViewModel

@{
    ViewData["Title"] = "UpdatePhotoStory";
}

<h2>UpdatePhotoStory</h2>

<h4>PreviewPhotoStoryViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdatePhotoStory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Introduction" class="control-label"></label>
                <input asp-for="Introduction" class="form-control" />
                <span asp-validation-for="Introduction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conclusion" class="control-label"></label>
                <input asp-for="Conclusion" class="form-control" />
                <span asp-validation-for="Conclusion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Published" /> @Html.DisplayNameFor(model => model.Published)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PhotographyAddictedUserId" class="control-label"></label>
                <input asp-for="PhotographyAddictedUserId" class="form-control" />
                <span asp-validation-for="PhotographyAddictedUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

