<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link href="~/css/navBar.css" rel="stylesheet" asp-append-version="true" />
    <title>@ViewData["Title"] - PhotographyAddicted.Web</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" asp-append-version="true">
</head>
<body>
    <div class="container-fluid">
        <div class="row" style="background-color:black; min-height:40px">
            <div class="col-md-5 offset-md-2 ">
                <a href="https://localhost:44385/" style="text-decoration: unset; padding-right: 10px; padding-left: 2px;">
                    <img src="~/images/bwLogoPALittle2.png" />
                </a>
                <a class="nav-style" asp-area="" asp-controller="Themes" asp-action="PreviewThemes">Форум</a>
                <a class="nav-style" asp-area="" asp-controller="Users" asp-action="PreviewUsers">Authors</a>
                <a class="nav-style" asp-area="" asp-controller="News" asp-action="PreviewNews">News</a>
                <a class="nav-style" asp-area="" asp-controller="Images" asp-action="PreviewImageByCategoryAndDate">Photos</a>
                <a class="nav-style" asp-area="" asp-controller="Images" asp-action="PreviewTopImagesLasтThirtyDaysByCategory">Top photos</a>
                <a class="nav-style" asp-area="" asp-controller="PhotoStories" asp-action="PreviewPhotoStories">Stories</a>
            </div>
            <div class="col-md-3" style="text-align:right;  padding-top: 3px;">
                <partial name="_LoginPartial" />
            </div>
        </div>
        <partial name="_CookieConsentPartial" />
        <div class="container-fluid">
            @RenderBody()
            <div class="col-md-8 offset-md-2">
                <hr />
                <footer>
                    <p>&copy; 2019 - PhotographyAddicted.Web</p>
                </footer>
            </div>
        </div>
        @RenderSection("Scripts", required: false)
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </div>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}