
@{
    ViewData["Title"] = "PreviewImagesSearchPartial";
}

<div class="row">
    <div class="col-md-12">
        <div class="search-container">
            <form asp-controller="Images" asp-action="PreviewImagesSearch">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-info" type="submit" data-toggle="tooltip" data-placement="bottom" title="Search">Search</button>
                        <a class="btn btn-info" asp-controller="Images" asp-action="PreviewImageByCategoryAndDate" data-toggle="tooltip" data-placement="bottom" title="Clear"><i class="fas fa-eraser"></i></a>
                    </div>
                    <input placeholder="Search image.." value="@Model.Input" type="text" name="input" class="form-control" aria-describedby="basic-addon1">
                </div>
            </form>
        </div>
    </div>
</div>
