@model PhotographyAddicted.Services.Models.Themes.ThemeDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<h1>@Model.Title</h1>
<h1>@Model.AuthorOpinion</h1>
<h1>@Model.UserName</h1>
@*<a class="btn btn-default btn-sm" asp-controller="Themes" asp-action="UpdateTheme" asp-route-id="@Model">Update </a>*@

