@model PhotographyAddicted.Services.Models.Themes.ThemesViewModel

@{
    ViewData["Title"] = "PreviewAllThemes";
}

<h2>@ViewData["Title"]</h2>


@foreach (var theme in Model.ThemeInfos)
{

    <h1>@theme.Title</h1>
    <a class="btn btn-default btn-sm" asp-controller="Themes" asp-action="Details" asp-route-id="@theme.Id">View </a>

}

