@model PhotographyAddicted.Services.Models.News.AddNewViewModel
@using PhotographyAddicted.Services.DataServices.CommonService
@using PhotographyAddicted.Services.DataServices

@inject ICommonService commonService
@inject INewService  newService

@{
    ViewData["Title"] = "AddNew";
}

<div class="row">
    <div class="col-md-5 offset-md-2">
        <div class="jumbotron " style="min-height: 930px; padding-top:15px; background-color:azure">
            <br>
            <div class="alert alert-info" role="alert">
                <br>
                <h3>Add new</h3>
                <hr class="my-4">
                <div class="row">
                    <div class="col-md-12 ">
                        <form asp-action="AddNew" method="POST" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="input-group input-group-sm  mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text  aquaLabel" id="basic-addon1"><i class="far fa-clipboard"></i></span>
                                </div>
                                <input asp-for="Title" type="text" class="form-control" placeholder="Title.." aria-describedby="basic-addon1" style="border-top-right-radius: 3px; border-bottom-right-radius: 3px;" data-toggle="tooltip" data-placement="bottom" title="Title" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="input-group input-group-sm  mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text  aquaLabel" id="basic-addon1"><i class="far fa-file-alt"></i></span>
                                </div>
                                <input asp-for="TextContent" type="text" placeholder="Write here new content.." class="form-control" aria-describedby="basic-addon1" style="border-top-right-radius: 3px; border-bottom-right-radius: 3px;" data-toggle="tooltip" data-placement="bottom" title="Content" />
                                <span asp-validation-for="TextContent" class="text-danger"></span>
                            </div>
                            <div hidden class="form-group">
                                <label asp-for="PhotographyAddictedUserId" class="control-label"></label>
                                <input asp-for="PhotographyAddictedUserId" class="form-control" />
                                <span asp-validation-for="PhotographyAddictedUserId" class="text-danger"></span>
                            </div>
                            <div class="custom-file ">
                                <label style="margin-bottom:0px;" data-toggle="tooltip" data-placement="bottom" title="Upload image">
                                    Upload  <i class="far fa-images"></i>
                                    <input class="custom-file-input" type="file" id="File" asp-for="NewImage">
                                </label>
                                <a style="font-size:x-small; font-weight: bold; margin-top:0px;">Image should be square and less than 256kb.</a>
                            </div>
                            <div style="margin-top:4px;">
                                <button class="btn btn-info btn-sm" type="submit" style="margin-right:15px;  margin-top:8px; padding: 4px 8px; " data-toggle="tooltip" data-placement="bottom" title="Save new">Publish</button>
                                <a class="btn btn-info btn-sm" asp-controller="News" asp-action="PreviewNews" style=" margin-top:8px; padding:4px 9.875px;" data-toggle="tooltip" data-placement="bottom" title="Go to news">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a>
        <partial name="PreviewNewsPartial" />
    </a>
</div>