/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.nav-style {
    color: black;
    padding-right: 15px;
    padding-left: 15px;
    font: bold Georgia;
    font-size: 100%;
    text-decoration: unset
}

    .nav-style:hover {
        color: white;
        text-decoration: unset
    }

.logPart {
    font-size: 90%;
    font: bold Georgia;
    color: black;
    text-decoration: unset;
    padding-right: 20px;
}

    .logPart:hover {
        color: white;
        text-decoration: unset
    }

.logPartUser {
    font-size: 90%;
    font: bold Georgia;
    color: black;
    padding-left: 1px;
    margin-left: 1px;
    text-decoration: unset;
}

    .logPartUser:hover {
        color: white;
        text-decoration: unset
    }
