@model PhotographyAddicted.Services.Models.Users.IndexUserProfileViewModel
@using PhotographyAddicted.Services.DataServices

@inject IUserService  userService

@{
    ViewData["Title"] = "PreviewUsers";
}

<h2>PreviewUsers</h2>

<div>
    <h4>IndexUserProfileViewModel</h4>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>


<div>
    @foreach (var user in Model.UserInfos)
    {
        <a>
            @if (user.ProfilePicture != null)
            {
                <img src="data:image;base64,@System.Convert.ToBase64String(user.ProfilePicture )" style="max-height: 110px; height: 70%; width: auto;" />
            }
        </a>
        <h4>
            @user.UserName - @userService.UsersScores(user.Id) - @user.CreationDate
        </h4>
    }
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
