@model PhotographyAddicted.Services.Models.NewsComments.DeleteNewCommentsViewModel
@using PhotographyAddicted.Services.DataServices.ImageService
@using PhotographyAddicted.Services.DataServices.CommonService
@using PhotographyAddicted.Services.DataServices

@inject INewService  newService
@inject ICommonService commonService
@inject IImageService imageService

@{
    ViewData["Title"] = "DeleteNewComment";
}

<div class="row">
    <div class="col-md-5 offset-md-2">
        <div class="jumbotron " style="min-height: 930px; padding-top:15px; background-color:azure">
            <br>
            <div class="alert alert-info" role="alert">

                <div style="padding-bottom:8px; color:black">
                    <a style="word-wrap: break-word;">
                        <h5>Are you sure you want to delete:</h5>
                        <h3 style="word-wrap: break-word;">@Model.UserOpinion</h3>
                    </a>
                </div>

                <hr style="margin-bottom:2px; margin-top:1px">
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <form asp-action="DeleteNewComment">
                                <input class="btn btn-info btn-sm" value="Yes" type="submit" style=" padding: 4px 12px;  margin-top:8px; margin-right:15px;" data-toggle="tooltip" data-placement="bottom" title="Delete comment">
                                <a class="btn btn-info btn-sm" asp-controller="News" asp-action="PreviewNew" asp-route-id="@Model.NewId" style=" padding:4px 12.545px; margin-top:8px;" data-toggle="tooltip" data-placement="bottom" title="Go to the new">No</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a>
        <partial name="PreviewNewsPartial" />
    </a>
</div>

