
@model PhotographyAddicted.Services.Models.ImagesComments.AddImageCommentViewModel
@using PhotographyAddicted.Services.DataServices.ImageService
@using PhotographyAddicted.Services.DataServices.CommonService
@using PhotographyAddicted.Services.DataServices

@inject INewService  newService
@inject ICommonService commonService
@inject IImageService imageService

@{
    ViewData["Title"] = "AddImageComment";
}



<div class="row">
    <div class="col-md-5 offset-md-2">
        <div class="jumbotron " style="min-height: 930px; padding-top:15px; background-color:azure">
            <br>
            <div class="alert alert-info" role="alert">
                <br>
                <h3>Write your comment</h3>
                <hr class="my-4">
                <div class="row">
                    <div class="col-md-12 ">
                        <form asp-action="AddImageComment">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="input-group input-group-sm  mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text  aquaLabel" style="padding-right:11.25px; padding-left:10px;  " id="basic-addon1"><i class="far fa-clipboard"></i></span>
                                </div>
                                <input asp-for="UserOpinion" type="text" class="form-control" placeholder="Comment.." aria-describedby="basic-addon1" style="border-top-right-radius: 3px; border-bottom-right-radius: 3px;" data-toggle="tooltip" data-placement="bottom" title="Comment" />
                                <span asp-validation-for="UserOpinion" class="text-danger"></span>
                            </div>
                            <div hidden class="form-group">
                                <label asp-for="ImageId" class="control-label"></label>
                                <input asp-for="ImageId" class="form-control" />
                                <span asp-validation-for="ImageId" class="text-danger"></span>
                            </div>
                            <button class="btn btn-info btn-sm" type="submit" style="margin-right:15px;  margin-top:8px; padding: 4px 8px; " data-toggle="tooltip" data-placement="bottom" title="Add comment">Publish</button>
                            <a class="btn btn-info btn-sm" asp-controller="Images" asp-action="PreviewImage" asp-route-Id="@Model.ImageId" style=" margin-top:8px; padding:4px 9.875px;" data-toggle="tooltip" data-placement="bottom" title="Go to the image">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a>
        <partial name="PreviewNewsPartial" />
    </a>
</div>

