@model PhotographyAddicted.Services.Models.ImagesComments.UpdateImageCommentViewModel

@{
    ViewData["Title"] = "UpdateImageComment";
}

<h2>UpdateImageComment</h2>

<h4>UpdateImageCommentViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateImageComment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="UserOpinion" class="control-label"></label>
                <input asp-for="UserOpinion" class="form-control" />
                <span asp-validation-for="UserOpinion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

