@model PhotographyAddicted.Services.Models.PhotoStoryFragments.AddPhotoStoryFragmentViewModel

@{
    ViewData["Title"] = "AddPhotoStoryFragment";
}

<h2>AddPhotoStoryFragment</h2>

<h4>AddPhotoStoryFragmentViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddPhotoStoryFragment" method="POST" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>   

            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input type="file" asp-for="Picture" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Place" class="control-label"></label>
                <input asp-for="Place" class="form-control" />
                <span asp-validation-for="Place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoStoryId" class="control-label"></label>
                <input asp-for="PhotoStoryId" class="form-control" />
                <span asp-validation-for="PhotoStoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

